.adminboard-body{
    .grid1{
        position: absolute;
        .space{
            margin-top: 0px;
        }
    }
}
.adminnav-body{
    .label{
        height: 70px;
        width:1365;
        background-color: black;
        display: flex;
        .logo{
            font-size: 50px;
            width:220px;
            font-weight:700;
            height:100px;
            background: linear-gradient(to left,
            blue,
            white,
            blue,
            white);
            -webkit-background-clip: text;
            color: transparent;
        }
        .home{
            margin-left: 650px;
            color:white;
        }
        .employee{
            margin-left: 30px;
            color:white;
        }
        .items{
            margin-left: 30px;
            color:white;
        }
    
    }
}
.employee-body{
    .app-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // padding: 1rem;
    }
    .grid-btn{
        margin-top:30px;
        h1{
            color:blue;
            margin-top:20px;
            margin-left:550px;
        }
        .button{
            margin-left:1120px;
            margin-top: 0px;
            position:absolute;
            background-color: rgb(4, 4, 8);
        }
        .buttonnew{
            margin-left:20px;
            position:absolute;
            background-color: rgb(4, 4, 8);
        }
    }
    .btn{
        margin-left:1150px;
        background-color: black;
        color:white;
        padding: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top:70px;
    }
    
    th,
    tr {
        border: 1px solid #ffffff;
        color:white;
    }
    th {
    background-color: rgb(4, 4, 8);
    }

    td {
    background-color: rgb(230, 236, 240);
    }
    .last-grid{
        margin-top: 30px;
        margin-left:500px;
    }
}
.addemployee{
    width:1366px;
    height:625px;
    border:1px solid black;
    box-shadow: 1px grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .employee-popup{
        width:600px;
        height:450px;
        background-color:black;
        position: absolute;
        margin-left:380px;
        margin-top: 60px;
        border:1px solid #555555;
        border-radius: 10px;
        .register-form{
            position:absolute;
            margin-top:25;
            margin-left:115px;
            h1{
                text-shadow: #201e1e;
                margin-top:-0px;
                margin-left:100px;
                color:rgb(250, 247, 247);
            }
            .field-container{
                display:flex;
                .textbox{
                    display:flex;
                    margin-left:-30px;
                    margin-top:20px;
                    color:rgb(12, 11, 11);
                    .text{
                        .MuiInput-root {
                            border-bottom: 1px solid white !important;
                          }
                        .MuiInputLabel-root {
                            color: white !important;
                        }
                        color-scheme: dark;
                    }
                }
            }
            .button-label{
                margin-top:50px;
                .button{
                    margin-left: 100px;
                    padding-left: 40px;
                    padding-right:40px;
                    color:rgb(8, 8, 8);
                    background-color:rgb(238, 243, 238);
                }
                .button:hover{
                    background-color:rgb(27, 34, 27);
                    color:white;
                }
                .button:disabled{
                    background-color:rgb(98, 102, 98);
                    color:rgb(221, 208, 208);
                    cursor:not-allowed;
                }
            }
        }
    }
}

.additem{
    width:1366px;
    height:625px;
    border:1px solid black;
    box-shadow: 1px grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .item-popup{
        width:600px;
        height:450px;
        background-color:black;
        position: absolute;
        margin-left:380px;
        margin-top: 60px;
        border:1px solid #555555;
        border-radius: 10px;
        .register-form{
            position:absolute;
            margin-top:25;
            margin-left:115px;
            h1{
                text-shadow: #201e1e;
                margin-top:-0px;
                margin-left:100px;
                color:rgb(250, 247, 247);
            }
            .field-container{
                display:flex;
                .textbox{
                    display:flex;
                    margin-left:-30px;
                    margin-top:20px;
                    color:rgb(12, 11, 11);
                    .text{
                        .MuiInput-root {
                            border-bottom: 1px solid white !important;
                          }
                        .MuiInputLabel-root {
                            color: white !important;
                        }
                        color-scheme: dark;
                    }
                }
            }
            .button-label{
                margin-top:30px;
                .button{
                    margin-left: 120px;
                    padding-left: 40px;
                    padding-right:40px;
                    color:rgb(8, 8, 8);
                    background-color:rgb(238, 243, 238);
                }
                .button:hover{
                    background-color:rgb(27, 34, 27);
                    color:white;
                }
                .button:disabled{
                    background-color:rgb(98, 102, 98);
                    color:rgb(221, 208, 208);
                    cursor:not-allowed;
                }
            }
        }
    }
}
.profile-body{
    margin-bottom:-100px;
    margin-top: 50px;
    .profile-grid{
        margin-left:60px;
        .grid-container{
            display:flex;
            margin-top: -10px;
            .second{
                margin-left: 200px;
            }
            .lastname{
                margin-left: 198px;
            }
            .age{
                margin-left: 202px;
            }
            .text-box1{
                margin-top:15px;
                margin-left:82px;
            }
            .text-box2{
                margin-top:15px;
                margin-left:60px;
            }
            .text-box3{
                margin-top:15px;
                margin-left:50px;
            }
            .text-box4{
                margin-top:15px;
                margin-left:16px;
            }
            .text-box5{
                margin-top:15px;
                margin-left:32px;
            }
            .text-box6{
                margin-top:15px;
                margin-left:70px;
            }
            .text-box7{
                margin-top:15px;
                margin-left:8px;
            }
        }
    }
}
.items-popup-body{
    height: 350px;
    width:500px;
    border:1px solid black;
    
}